// Вданном файле мы можем указать файлы, либо папки, которые не будем отправлять на Github

build

node_modules - (Для хранения библиотек и пакетов)

.env - (Хранение приватных данных, паролей и т.п.)

И многое другое.....